<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script type="text/javascript" src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        .bg-img {
  /* The image used */
  background-image: url("../images/kurangani.jpg");

  min-height:1000px;



  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

    </style>
</head>
<body>
<div class="bg-img">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <span> <a class="nav-brand" href="http://www.tamilnadutourism.org/about-ttdc.html"><img width="50" height="50" src="https://cdn.s3waas.gov.in/s39a96876e2f8f3dc4f3cf45f02c61c0c1/uploads/2019/04/2019041536.png"  /></a>

        </div>
        <ul class="nav navbar-nav" style="font-size:20px;">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a href="#">Pending Requests</a></li>
            <li><a href="#">Approved Requests</a></li>
            <li><a href="#">Rejected Requests</a></li>
            <li><a href="#">Pending for Payment</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>
</nav>
</div>


</body>
</html>
