<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THENI Tourism</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ecotourism packages in Theni</title>
        <meta name="keywords" content="Theni Tourism" />
        <meta name="description" content="Romance, wildlife or adventure holidays - the forests and wildlife of Theni won't let down you. Theni, a rich swathe of greenery brimming with wildlife, is a 285 square kilometer protected area cuddled in Tamilnadu." />
        <meta name="Title" content="Programmes at Theni| Ecotourism packages in Theni"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="../styles/bootstrap.min.css" rel="stylesheet">

        <link href="../styles/mdb.min.css" rel="stylesheet">

        <link href="../styles/style.css" rel="stylesheet">



        <link rel="stylesheet" type="text/css" href="../styles/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../styles/demo.css" />
        <link rel="stylesheet" type="text/css" href="../styles/set1.css" />

        <script type="text/javascript" src="../scripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="../scripts/jquery.fancybox.js"></script>
        <script type="text/javascript" src="../scripts/jquery.fancybox-media.js"></script>
        <link rel="stylesheet" type="text/css" href="../styles/jquery.fancybox.css" media="screen" />

        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../styles/default.css" />
        <link rel="stylesheet" type="text/css" href="../styles/destination-component.css" />
        <script src="../scripts/modernizr.custom.js"></script>

        <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <script>
			document.documentElement.className = 'js';
		</script>
        <script type="text/javascript">
$(document).ready(function() {
	  $(".fancybox").fancybox({
	   helpers : {
		title : { type : 'inside' }
	   },
			/* afterLoad : function() {
			this.title = (this.title ? '' + this.title + '<br />' : '') + 'Image ' + (this.index + 1) + ' of ' + this.group.length;
		   } */
	  });
});
</script>

        <style type="text/css">
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}
.gal-item {
	margin-bottom: 25px;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#333;
	text-decoration:none;
}

/*** inner page css**/
h5 {
	font-size: 1.35em;
!important;
	color:#28a745;
	font-weight: 400;
	padding:10px 0px;
}
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
#myImg:hover {
	opacity: 0.7;
}


 @-webkit-keyframes zoom {
 from {
-webkit-transform:scale(0)
}
to {
	-webkit-transform:scale(1)
}
}
 @keyframes zoom {
 from {
transform:scale(0)
}
to {
	transform:scale(1)
}
}
/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
 .modal-content {
 width: 100%;
}
.re-icons{ font-size:10px}
.re-icons img{ max-width:30px}
}
.button {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0 10px;
  font-weight: bold;
}
.bs-example{
    	margin: 20px;
    }
</style>
        <script type="text/javascript">

$('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});

</script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1350892-1"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1350892-1');

  function form_submit() {
    alert('Called');
   }
</script>

</head>
<body>


<div class="container-fluid marketing fixed-bg" >
    <nav class="navbar fixed-top   navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container-fluid"  style="padding-left:95px;">
            <div class="col-lg-9  col-md-8  col-sm-8"  style="font-weight:500">

                <span> <a class="nav-link" href="http://www.tamilnadutourism.org/about-ttdc.html"><img width="200" height="100" src="https://cdn.s3waas.gov.in/s39a96876e2f8f3dc4f3cf45f02c61c0c1/uploads/2019/04/2019041536.png"  /></a>

         </span>

            </div>
            <div class="col-lg-3   col-md-4  col-sm-4   ">
                <ul  class="menu1">

                    <li > <a class="nav-link" href="index2.html">HOME</a> </li>
                    <li > <a class="nav-link" href="westernghats.html">WESTERN GHATS</a> </li>
                    <li> <a class="nav-link" href="#">GALLERY</a> </li>
                    <li><a class="nav-link" href="#">CONTACT US</a> </li>

                </ul>
            </div>
        </div>
    </nav>
    <br><br><br><br>

    <div class="bs-example">
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Terms and Conditions</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Please agree to below terms before proceeding to book the trek</p>
                        <p class="text-secondary"><small>TBD</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">GoBack</button>
                        <button type="button" onclick="window.open('index1.html')" class="btn btn-primary" data-dismiss="modal">Accept All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container top-grid" style="background-color:rgba(255,255,255,0.9)!important;padding-top:20px; margin-top:110px;" >





        <!-- Top Navigation -->
        <div class="g-pad" >
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="colr text-center">ACTIVITIES </h2>
                        <p> <p>Romance, wildlife or adventure holidays - the forests and wildlife of Theni won&#39;t let down you. Theni wildlife, a rich swathe of greenery brimming with wildlife, is a 795.81 square kilometer protected area cuddled in Tamilnadu.</p>

                        <p><strong>What is waiting for you at Theni? </strong></p>
                        </p>
                    </div>
                </div>


                <div class="col-sm-12 text-center re-icons" style="border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;" >
                    <!--<span class=" col-md-2 col-sm-4"><a href="#js"><button class="btn1"><img src="https://www.keralatourism.org/images/eco-tourism/inn1.png"  class="img-fluid"><br>SAFARIS</button></a></span>-->
                    <span class="col-md-2 col-sm-4"><a href="#tr"><button class="btn1"><img src="https://www.keralatourism.org/images/eco-tourism/inn2.png" class="img-fluid"><br>TREKKING  </button></a></span>
                    <span class=" col-md-2 col-sm-4"><a href="#cp"><button class="btn1"><img src="https://www.keralatourism.org/images/eco-tourism/inn3.png" class="img-fluid"><br>CAMPS </button></a></span>
                    <span class="col-md-2 col-sm-4"><a href="#rc"><button class="btn1"><img src="../images/rockclimb.png" class="img-fluid"><br>ROCK CLIMBING</button></a></span>
                    <span class="col-md-2 col-sm-4"><a href="#wf"><button class="btn1"><img src="../images/waterfalls.png" class="img-fluid"><br>WATER FALLS</button></a></span>
                    <span class="col-md-2 col-sm-4"><a target="_blank" href="#cl"><button class="btn1"><img src="../images/cycle.png" class="img-fluid"><br>CYCLING</button></a></span>
                    <span class="col-md-2 col-sm-4"><a href="#bw"><button class="btn1"><img src="../images/bird.png" class="img-fluid"> <br>BIRD WATCHING</button></a></span>
                </div>




                <!----=================================//Trekking Trails //=========================================================-->


               <!-- <div class="g-pad" id="js">
                    <div class="col-sm-12" style=" padding:0px -15px:" >
                        <h4>JUNGLE SAFARIS</h4>
                        <p><b> </b> </p>       <p> <p>Are you a wildlife lover? Wanna explore the jungles of Western ghats? Come to Theni, this green haven offers safaris to the travellers. Combo Package and Jungle Safari are the two packages that comes under Safaris. </p>
                        </p>
                    </div>

                    <div class="featurette  inn-outer" > <img class="featurette-image img-circle img-responsive  pull-right col-md-6" src="../styles/suruli.jpg" >
                        <div class="col-md-6"  >

                            <h3 style="width: 100%; display: block">Combo Package  </h3>

                            <p>An exclusive package for family which includes safari, guided trekking and waterfalls visit. Visitors will be taken to the jungles through a traveller and it also includes lunch. </p>
                            <a data-toggle="collapse" data-target="#demo1"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>
                            <div id="demo1" class="collapse">
                                <p>Week days/Holidays: All free<br>
                                    Children under 10 years of age have free entry</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img class="featurette-image img-circle img-responsive  pull-left col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/jungle-safari/IMG_4796_10072018154649.jpg" >
                        <div class="col-md-6"   style="float:left;">

                            <h3 style="width: 100%; display: block">Jungle Safari </h3>

                            <p>A one-day package to explore the forests of Parambikulam in the vehicle and it also includes the service of a guide.  </p>
                            <a data-toggle="collapse" data-target="#demo2"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>
                            <div id="demo2" class="collapse">
                                <p>Week days/Holidays: Rs. 200 /per head<br>
                                    Children under 10 years of age have free entry</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <hr class="featurette-divider">

                </div> -->

                <!----=================================//Trekking Trails //=========================================================-->

                <div class="g-pad" id="tr">
                    <div class="col-sm-12" style=" padding:0px -15px:" >
                        <h4>TREKKING TRAILS</h4>
                        <p>   <p>The trekking trails of Theni welcomes you</p>
                        </p>

                    </div>


                    <div class="featurette  inn-outer" >
                        <img class="featurette-image img-circle img-responsive  pull-right col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/trekking-trails/1_11072018190948.jpg" >
                        <div class="col-md-6"  >

                            <h3 style="width: 100%; display: block">Kurangani to TopStation Trail  </h3>

                            <p>The 12 km hike from Kurangani village to Top Station through Central village is a journey to be cherished.The trekking route here is covered with the dense woods and plain grasslands of Kurangani Hills.The trekking route here is covered with the dense woods and plain grasslands of Kurangani Hills.Top Station offers a panoramic view of the majestic Western Ghats. The rare Neelakurinji (Strobilanthus), for which the destination is popular, blooms once in twelve years.</p>
                            <input type="button" class="button" value="Book the Trek" data-toggle="modal" data-target="#myModal">

                        </div>
                        <div class="clearfix"></div>
                    </div> <!--------------------/////////////////////---------------------------------------------------->

                    <hr class="featurette-divider">

                    <!--                    <div class="featurette  inn-outer" > <img class="featurette-image img-circle img-responsive  pull-left col-md-6" src="../styles/koluku.jpg" >
                        <div class="col-md-6"   style="float:left;">

                            <h3 style="width: 100%; display: block">Kurangani to Kolukumalai  </h3>

                            <p>Kolukkumalai tea estate is the world's highest elevation tea plantation. To visit Kolukkumalai is to touch the sky. It is without argument one of the world's most beautiful scenic destinations. Witness the gorgeous beauty of the tea gardens and watch the panoramic views of the rolling hills from the top. Kolukkumalai hill is a must-visit for every nature lover.</p>
                            <a data-toggle="collapse" data-target="#demo4"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>
                            <div id="demo4" class="collapse">
                                <p>Week days/Holidays     : Rs. 3600 /per head for Indians <br>
                                    : Rs. 6100 / per head for Foreigners     <br>
                                    Children under 10 years of age have free entry</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>--> <!--------------------/////////////////////---------------------------------------------------->

                   <!-- <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img class="featurette-image img-circle img-responsive  pull-right col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/trekking-trails/kariyan-shola-IMG_9167-(2)_06072018165728.jpg" >
                        <div class="col-md-6"  >

                            <h3 style="width: 100%; display: block">Elephant Song Trail </h3>

                            <p>A soft trek intended for all age groups. This 4 km trail stretches through miniature evergreen patches of the Western Ghats.</p>
                            <a data-toggle="collapse" data-target="#demo5"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>
                            <div id="demo5" class="collapse">
                                <p>Week days/Holidays        : Rs. 1200 /per head for Indians <br>
                                    : Rs. 2400 / per head for Foreigners     <br>
                                    Children under 10 years :  Rs. 200 /per head for Indians <br>
                                    : Rs. 500 / per head for Foreigners<br>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>-->

                   <!-- <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img class="featurette-image img-circle img-responsive  pull-left col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/trekking-trails/IMG_4796_11072018190948.jpg" >
                        <div class="col-md-6"   style="float:left;">

                            <h3 style="width: 100%; display: block">Kariyanshola Trail  </h3>

                            <p>This is a 6 km trekking trail that starts from Anappady and then feathers into the moist deciduous forest inside Parambikulam Tiger Reserve in Palakkad. After a 4 km stretch, you enter the dense woods, the evergreen forest which bursts with wildlife. It includes bamboo rafting and trekking. The trail begins from Anappdy information centre via Rock point to Kariyanshola then to the vast teak plantations and return to Anappady. A group will have a maximum of ten persons. <br>
                                <br>
                                <strong>Note:</strong> <em>Take necessary precautions to prevent leech bites.</em> </p>
                            <a data-toggle="collapse" data-target="#demo6"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>
                            <div id="demo6" class="collapse">
                                <p>Rs. 500/- for two persons <br>
                                    Rs. 100/- for extra persons </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <hr class="featurette-divider">

                </div>-->

                <!----=================================//jungle Camp//=========================================================-->

                <!--<div class="g-pad" id="jc">
                    <div class="col-sm-12" style=" padding:0px -15px:" >
                        <h4>JUNGLE CAMPS </h4>
                        <p><b> </b>  </p>
                    </div>


                    <div class="featurette  inn-outer" > <img  class="featurette-image img-circle img-responsive  pull-right  col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/jungle-camps/parambikulam-peruvari-island-nest_12072018142428.jpg" >
                        <div class="col-md-6"  >

                            <h3 style="width: 100%; display: block">Peruvari Island Nest  </h3>

                            <p>Peruvari Island Nest Camp, a stay over programme inside the Perivaripallam Dam, offers a great opportunity for visitors to camp atop of a bamboo hut. The place is accessible via 30-minute rafting through the serene waters of the dam. One guide will accompany the visitors and four boatmen will also be there. The package doesn&#39;t have food, while you stay the guide and the boatmen will help you to prepare simple dinner and breakfast. Four beds are available.  Visitors can go for Safari inside the forest, visit to Thunakadavu Dam, and other daily packages after checking out. <br>
                                <strong>Check-in 12.00 PM and Check-Out 10.30 AM</strong></p>

                            <a data-toggle="collapse" data-target="#demo7"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>

                            <div id="demo7" class="collapse">
                                <p>Week days        : Rs. 6000/- for four persons (Indians )<br>
                                    : Rs. 8000 / for four persons (Foreigners)     <br>
                                    Holidays          : Rs. 8000/- for four persons (Indians )<br>
                                    : Rs. 12100 / four persons in Foreigners   </p>

                                <p>Extra Person :   Rs. 1800/- (Indian)<br>
                                    : Rs. 2200 /- (Foreigners)<br>
                                    Children under 10 years:  Rs. 600 -/per head for Indians <br>
                                    : Rs. 1100 /- per head for Foreigners</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img  class="featurette-image img-circle img-responsive  pull-left  col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/jungle-camps/IMG_9135_06072018165728.jpg" >
                        <div class="col-md-6"   style="float:left;">

                            <h3 style="width: 100%; display: block">Tree top hut at Thunakadavu  </h3>

                            <p>One of the best choices for honeymooners, this treetop hut is located near the Thunakadavu reservoir inside the forest. Set in the backdrop of the dense forest, the view from the balcony offers the pleasant and freely flowing waters, and the songs of the birds accompany you. Breakfast, Lunch and Dinner are also included in this. Food will be served at “Kannimara Café”, located opposite to the hut. <br>
                                <strong>Check-in : 12:00 PM Check-out : Next day 10.30 AM</strong></p>

                            <a data-toggle="collapse" data-target="#demo8"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>

                            <div id="demo8" class="collapse">
                                <p>Week days        : Rs. 4800/per head for Indians <br>
                                    : Rs. 7300 / per head for Foreigners     <br>
                                    Holidays         : Rs. 6100/per head for Indians <br>
                                    : Rs. 9700 / per head for Foreigners     <br>
                                    Extra bed        : Rs. 1800/per head for all  <br>
                                    Children under 10 years:  Rs. 600/per head for Indians <br>
                                    : Rs. 600 / per head for Foreigners</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img  class="featurette-image img-circle img-responsive  pull-right  col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/jungle-camps/vettikunnu-island_10072018154649.jpg" >
                        <div class="col-md-6"  >

                            <h3 style="width: 100%; display: block">Veettikunnu Island Hut </h3>

                            <p>Veettikunnu Island, located in the island of Parambikulam reservoir, is an ideal choice for people who want to explore the silence of the dense forests. To reach the place visitors have to row the boat around for one and half hours and the destination will be there.  This camp has an accommodation capacity of 5 persons. Four expert boatmen along with a naturalist guide will accompany you to stay. After check-out visitors can go for a Safari, a visit to the dam, Kannimara Teak and to Thunakadavu dam. A guide will accompany you throughout the tour.<br>
                                <strong>Check-in : 12:00 PM Check-out : Next day 10.30 AM</strong></p>

                            <a data-toggle="collapse" data-target="#demo9"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>

                            <div id="demo9" class="collapse">
                                <p>Week days        : Rs. 9100/per head for Indians <br>
                                    : Rs. 10300 / per head for Foreigners     <br>
                                    Holidays            : Rs. 9700/per head for Indians <br>
                                    : Rs. 12100 / per head for Foreigners     <br>
                                    Children under 10 years of age have free entry</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr class="featurette-divider">

                    <div class="featurette  inn-outer" > <img  class="featurette-image img-circle img-responsive  pull-left  col-md-6" src="https://www.keralatourism.org/images/eco-tourism/trekking_thumb/jungle-camps/honey-comb_10072018154649.jpg" >
                        <div class="col-md-6"   style="float:left;">

                            <h3 style="width: 100%; display: block">Honeycomb Complex  </h3>

                            <p>It is a night stay package in the honeycomb complex located inside the reserve. The package includes Bamboo Rafting, Tribal Symphony, Birdwatching and Trekking. It is inclusive of all meals. All rooms are air conditioned. <br>
                                <strong>Check-in 12.00 PM and Check-out 10.30 AM </strong></p>

                            <a data-toggle="collapse" data-target="#demo10"><b><img src="https://www.keralatourism.org/images/eco-tourism/add.png"/> Cost of the package</b></a>

                            <div id="demo10" class="collapse">
                                <p>Week days        : Rs. 5000/- for two persons (Indians )<br>
                                    : Rs. 7300/- for two persons (Foreigners)     <br>
                                    Holidays            : Rs. 6100/- for two persons (Indians )<br>
                                    : Rs. 8500/- for two persons (Foreigners) </p>

                                <p>Extra Person     : Rs. 1800/-<br>
                                    Children (5-10) years:  Rs. 600/-  (for both Indian and Foreign)</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr class="featurette-divider">

                </div> -->

                <!--------------------/////////////////////---------------------------------------------------->

                <div class="col-md-12 row text-center" style=" background-color:#dadd28; margin:0px; ">

                    <div class="col-md-4">
                        <div class="col-md-12 " >
                            <div class="text-center " >
                                <h4 class="text-left">Contact</h4>
                                <p  >
                                    For advance booking <br>
                                    Mob: +91 TBD; +91 TBD<br>
                                    TBD@gmail.com<br>
                                    </p>
                                </p>

                            </div>
                        </div>
                    </div>
                    <!---//2d col--->
                    <div class="col-md-8">
                        <div class="col-md-12 "   >
                            <h4 class="text-left">Getting there</h4>
                            <div class="text-left  " >
                                <p  >
                                    By Road: 500 Kms from Chennai via Trichy Road and Madurai Road<br>
                                    By Rail: 500 Kms from MGR Central Railway Staion <br>
                                    By Air: 500 Kms from Chennai International Airport (Tamil Nadu)</p>


                                </p>
                            </div>
                        </div>
                    </div>



                    <!---//3rd col--->

                    <!---//3rd col end--->
                </div>


                <br>

                <div class="text-center" >
                    <p class=" text-center disclim"><span style="color:#F00; font-weight:bold;">DISCLAIMER :</span> <span style="line-height:20px!important;"> Since the availability of Eco Tourism Packages are subject to change based on climate and other conditions, please make sure you confirm its availability beforehand. We will not be held responsible for any inconveniences caused owing to the unavailability of any specific package.</span>  </p></div>


               <!-- <div class="col-sm-12 g-pad dest-inner-p-outer" style=" margin:10px 0px;">
                    <div class=" featurette"><br><br>

                        <div class="col-sm-4 gal-des-in">
                            <div class="link"><img src="https://www.keralatourism.org/images/eco-tourism/prg-inner/photo.jpg" alt="Avatar" class="image img-fluid" width="100%">
                                <div class="centered">Photo </div>
                                <div class="overlay">

                                    <a href="https://www.keralatourism.org/ecotourism/gallery/"> <div class="text">Photo</div></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 gal-des-in">
                            <div class="link">
                                <img src="https://www.keralatourism.org/images/eco-tourism/prg-inner/photo1.jpg" alt="Avatar" class="image img-fluid" width="100%">
                                <div class="centered">Video </div>
                                <div class="overlay">
                                    <a href="https://www.keralatourism.org/ecotourism/video-gallery/"> <div class="text">Video </div></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 gal-des-in">
                            <div class="link">
                                <img src="https://www.keralatourism.org/images/eco-tourism/prg-inner/photo2.jpg" alt="Avatar" class="image img-fluid" width="100%">
                                <div class="centered">Programmes</div>
                                <div class="overlay">
                                    <a href="https://www.keralatourism.org/ecotourism/trekking-programs"> <div class="text">Programmes</div></a>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                    </div><br>

                </div>-->

            </div>









            <br>
            <br>









        </div>




        <!------gpad------>
        <div class="clearfix"></div>





    </div><!---// container-->

</div><!---// container fluid-->
<div class="container-fluid marketing " style="padding:20px 0px; padding-bottom:20px; background-color:#24231e;  border-bottom:5px solid  #090">
    <div class="col-md-12">
        <p></p>
          <!--<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar   mtop top-nav-collapse">
            <ul class="navbar-nav" style="margin-left:auto; margin-right:auto;">
                <li class=" active"><a class="nav-link waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/">Home <span class="sr-only">(current)</span></a> </li>
                <li> <a class="nav-link waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/about-us">Ecotourism</a> </li>


                <li> <a class="nav-link waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/dos-donts">Do's and Dont's</a> </li>
                <li> <a class="nav-link waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/administrators">Administrators</a> </li>
                <li> <a class="nav-link  waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/gallery">Photos</a> </li>
                <li> <a class="nav-link  waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/video-gallery">Videos</a> </li>


                <li> <a class="nav-link  waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/news_events" target="_blank">Updates</a> </li>

                <li> <a class="nav-link  waves-effect waves-light" href="https://www.keralatourism.org/ecotourism/contact-us">Contact</a> </li>
                <li style=" border-right: 2px solid #24231e !important;"> <a class="nav-link  waves-effect waves-light" href="https://www.youtube.com/channel/UCPUNpNdHfOTLrqWjA8fx3ag
" target="_blank"><img src="https://www.keralatourism.org/images/eco-tourism/youtube-icon.png" class="img-fluid"/></a></li>
            </ul>
        </nav> -->
        <p class="lead text-center" style="color:#FFF; padding-top:10px;">All rights reserved © Theni Tourism 2020. Copyright | Terms of Use. Developed &amp; Maintained by Discover Yourself Multimedia.</p>
        <!-- <p class="lead text-center" style="color:#FFF; padding-top:10px;">All rights reserved © Eco-Tourism 2018. Copyright | Terms of Use. Developed &amp; Maintained by Invis Multimedia.</p> -->
    </div>
</div>

<script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/mdb.min.js"></script>





</body>
</html>