<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>THENI Tourism</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ecotourism packages in Theni</title>
    <meta name="keywords" content="Theni Tourism" />
    <meta name="description"
        content="Romance, wildlife or adventure holidays - the forests and wildlife of Theni won't let down you. Theni, a rich swathe of greenery brimming with wildlife, is a 285 square kilometer protected area cuddled in Tamilnadu." />
    <meta name="Title" content="Programmes at Theni| Ecotourism packages in Theni" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../styles/bootstrap.min.css" rel="stylesheet">

    <link href="../styles/mdb.min.css" rel="stylesheet">

    <link href="../styles/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../styles/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../styles/demo.css" />
    <link rel="stylesheet" type="text/css" href="../styles/set1.css" />

    <script type="text/javascript" src="../scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.fancybox.js"></script>
    <script type="text/javascript" src="../scripts/jquery.fancybox-media.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/jquery.fancybox.css" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../styles/default.css" />

    <link rel="stylesheet" type="text/css" href="../styles/destination-component.css" />
    <script src="../scripts/modernizr.custom.js"></script>
    <script src="../scripts/booking.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/base.css" />



    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }

        .gal-item {
            margin-bottom: 25px;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #333;
            text-decoration: none;
        }

        /*** inner page css**/
        h5 {
            font-size: 1.35em;
             !important;
            color: #28a745;
            font-weight: 400;
            padding: 10px 0px;
        }

        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        #myImg:hover {
            opacity: 0.7;
        }


        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }

            .re-icons {
                font-size: 10px
            }

            .re-icons img {
                max-width: 30px
            }
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 0 10px;
            font-weight: bold;
        }

        .bs-example {
            margin: 20px;
        }
    </style>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1350892-1"></script>


</head>

<body>


    <div class="container-fluid marketing fixed-bg">
        <nav class="navbar fixed-top   navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container-fluid" style="padding-left:95px;">
                <div class="col-lg-9  col-md-8  col-sm-8" style="font-weight:500">

                    <span> <a class="nav-link" href="http://www.tamilnadutourism.org/about-ttdc.html"><img width="200"
                                height="100"
                                src="https://cdn.s3waas.gov.in/s39a96876e2f8f3dc4f3cf45f02c61c0c1/uploads/2019/04/2019041536.png" /></a>

                    </span>

                </div>
                <div class="col-lg-3   col-md-4  col-sm-4   ">
                    <ul class="menu1">

                        <li> <a class="nav-link" href="">HOME</a> </li>
                        <li> <a class="nav-link" href="">WESTERN GHATS</a> </li>
                        <li> <a class="nav-link" href="">GALLERY</a> </li>
                        <li><a class="nav-link" href="">CONTACT US</a> </li>

                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br>



        <div class="container top-grid"
            style="background-color:rgba(255,255,255,0.9)!important;padding-top:20px; margin-top:110px;">


            <!-- Top Navigation -->
            <div class="g-pad">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="colr text-center">ONLINE BOOKING FOR TREK </h2>
                            <p>
                            <p>Romance, wildlife or adventure holidays - the forests and wildlife of Theni won&#39;t let
                                down you. Theni wildlife, a rich swathe of greenery brimming with wildlife, is a 795.81
                                square kilometer protected area cuddled in Tamilnadu.</p>

                            <p><strong>Please fill out below form </strong></p>
                            </p>
                        </div>
                    </div>

<form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group edit-field-form">
                                <small>

                                </small>
                                <label for="inputName0" class="label-form" id="has-error-name">Name: <span
                                        style="color:#fd0101;">*</span></label>
                                <input name="name" class="form-control" id="inputName0" placeholder="" type="text" required />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group edit-field-form">
                                <small>

                                </small>
                                <label for="inputEmail" class="label-form" id="has-error-email">Email: <span
                                        style="color:#fd0101;">*</span></label>
                                <input name="email" class="form-control" id="inputEmail" placeholder="" type="text" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group edit-field-form">
                                <small>
                                </small>
                                <label for="inputPhone0" class="label-form" id="has-error-phone">Phone: <span
                                        style="color:#fd0101;">*</span></label>
                                <input name="phone" class="form-control" id="inputPhone0" placeholder="" type="text" required />
                            </div>

                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="form-group edit-field-form">
                                <small>
                                    <!-- <div class="error text-muted" id="str-error-email"></div> -->
                                </small>
                                <label for="inputDateFrom">Arrival date: <span
                                        style="color:#fd0101;">*</span></label>
                                <input style="width:180px;" class="form-control datepicker date_from hasDatepicker" name="date_from"
                                       id="inputDateFrom" placeholder="dd-mm-yyyy" type="date" required />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group edit-field-form">
                                <small>
                                    <!-- <div class="error text-muted" id="str-error-email"></div> -->
                                </small>
                                <label for="inputAge" class="label-form" id="has-error-age">Age: <span
                                        style="color:#fd0101;">*</span></label>
                                <input style="width:100px" name="email" class="form-control" id="inputAge" placeholder="" type="text" required />
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                            <div class="row">
                                <div class="col-md-8">
                                    <label for="inputPaxQuantity">No. of Persons:</label>
                                    <!-- <input type="text" name="pax_quantity" class="form-control" id="inputPaxQuantity" placeholder="Quantity"> -->

                                    <select name="pax_quantity" class="form-control minimal" id="inputPaxQuantity"
                                        onchange="addDiv(this);">
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </div>
                            </div>
                        </div>







                        <div class="col-md-12">
                            <div class="form-group edit-field-form">
                                <label for="inputMessage" class="label-form" id="has-error-message">Enter Your address
                                    here: <span style="color:#fd0101;">*</span></label>
                                <textarea class="form-control" name="message" id="inputMessage" rows="4"></textarea>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                            <div class="row">
                                <div class="col-md-8">
                                    <label for="gov_id0">ID To be Submitted</label>
                                    <!-- <input type="text" name="pax_quantity" class="form-control" id="inputPaxQuantity" placeholder="Quantity"> -->

                                    <select name="id_detail" class="form-control minimal" id="gov_id0">
                                        <option value="1" selected="">AADHAR</option>
                                        <option value="2">PAN</option>
                                        <option value="3">LICENSE</option>
                                        <option value="4">PASSPORT</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group edit-field-form">
                                <small>
                                    <!-- <div class="error text-muted" id="str-error-email"></div> -->
                                </small>
                                <label for="idno0" class="label-form">Selected ID No: <span
                                        style="color:#fd0101;">*</span></label>
                                <input name="email" class="form-control" id="idno0" placeholder="" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">


                                <p><strong>Please fill out Participant details </strong></p>
                                </p>
                            </div>
                        </div>
                    </div>

                        <div id="addOn1" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name1" class="form-control" id="inputName1"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age1" class="form-control" id="age1" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile1" class="form-control" id="inputPhone1" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id1" class="form-control minimal" id="gov_id1">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id1Val" class="form-control" id="idno1" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn2" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name2" class="form-control" id="inputName2"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age2" class="form-control" id="age2" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile2" class="form-control" id="inputPhone2" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id2" class="form-control minimal" id="gov_id2">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id2Val" class="form-control" id="idno2" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn3" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name3" class="form-control" id="inputName3"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age3" class="form-control" id="age3" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile3" class="form-control" id="inputPhone3" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id3" class="form-control minimal" id="gov_id3">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id3Val" class="form-control" id="idno3" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn4" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name4" class="form-control" id="inputName4"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age4" class="form-control" id="age4" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile4" class="form-control" id="inputPhone4" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id4" class="form-control minimal" id="gov_id4">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id4Val" class="form-control" id="idno4" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn5" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name5" class="form-control" id="inputName5"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age5" class="form-control" id="age5" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile5" class="form-control" id="inputPhone5" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id5" class="form-control minimal" id="gov_id5">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id5Val" class="form-control" id="idno5" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn6" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name6" class="form-control" id="inputName6"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age6" class="form-control" id="age6" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile6" class="form-control" id="inputPhone6" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id6" class="form-control minimal" id="gov_id6">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id6Val" class="form-control" id="idno6" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn7" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name7" class="form-control" id="inputName7"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age7" class="form-control" id="age7" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile7" class="form-control" id="inputPhone7" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id7" class="form-control minimal" id="gov_id7">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id7Val" class="form-control" id="idno7" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn8" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name8" class="form-control" id="inputName8"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age8" class="form-control" id="age8" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile8" class="form-control" id="inputPhone8" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id8" class="form-control minimal" id="gov_id8">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id8Val" class="form-control" id="idno8" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn9" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name9" class="form-control" id="inputName9"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age9" class="form-control" id="age9" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile9" class="form-control" id="inputPhone9" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id9" class="form-control minimal" id="gov_id9">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id9Val" class="form-control" id="idno9" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn10" style="display:none;">
                            <div class="row" id-="addOn10">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name10" class="form-control" id="inputName10"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age10" class="form-control" id="age10" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile10" class="form-control" id="inputPhone10" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id10" class="form-control minimal" id="gov_id10">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id1Val0" class="form-control" id="idno10" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn11" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name11" class="form-control" id="inputName11"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age11" class="form-control" id="age11" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile11" class="form-control" id="inputPhone11" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id11" class="form-control minimal" id="gov_id11">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id11Val" class="form-control" id="idno11" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn12" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name12" class="form-control" id="inputName12"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age12" class="form-control" id="age12" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile12" class="form-control" id="inputPhone12" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id12" class="form-control minimal" id="gov_id12">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id12Val" class="form-control" id="idno12" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn13" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name13" class="form-control" id="inputName13"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age13" class="form-control" id="age13" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile13" class="form-control" id="inputPhone13" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id13" class="form-control minimal" id="gov_id13">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id13Val" class="form-control" id="idno13" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn14" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name14" class="form-control" id="inputName14"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age14" class="form-control" id="age14" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile14" class="form-control" id="inputPhone14" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id14" class="form-control minimal" id="gov_id14">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id14Val" class="form-control" id="idno14" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="addOn15" style="display:none;">
                            <div class="row" id-="addOn1">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <input name="name15" class="form-control" id="inputName15"
                                           placeholder="Name of the participant" type="text">

                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <div class="form-group edit-field-form">
                                        <input name="age15" class="form-control" id="age15" placeholder="Age" type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <input name="mobile15" class="form-control" id="inputPhone15" placeholder="Mobile No"
                                               type="text">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="form-group edit-field-form">
                                        <select name="id15" class="form-control minimal" id="gov_id15">
                                            <option value="1" selected="">AADHAR</option>
                                            <option value="2">PAN</option>
                                            <option value="3">LICENSE</option>
                                            <option value="4">PASSPORT</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group edit-field-form">
                                        <input name="id15Val" class="form-control" id="idno15" placeholder="ID Number"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>



                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button type="button" style="background: darkolivegreen; color: beige;"
                            onclick="formSubmit();">Apply for Permission</button>
                        </div>
                    </div>
  </form>


                    <hr class="featurette-divider">

                    <div class="col-md-12 row text-center" style=" background-color:#dadd28; margin:0px; ">

                        <div class="col-md-4">
                            <div class="col-md-12 ">
                                <div class="text-center ">
                                    <h4 class="text-left">Contact</h4>
                                    <p>
                                        For advance booking <br>
                                        Mob: +91 TBD; +91 TBD<br>
                                        TBD@gmail.com<br>
                                    </p>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!---//2d col--->
                        <div class="col-md-8">
                            <div class="col-md-12 ">
                                <h4 class="text-left">Getting there</h4>
                                <div class="text-left  ">
                                    <p>
                                        By Road: 500 Kms from Chennai via Trichy Road and Madurai Road<br>
                                        By Rail: 500 Kms from MGR Central Railway Staion <br>
                                        By Air: 500 Kms from Chennai International Airport (Tamil Nadu)</p>


                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <br>

                    <div class="text-center">
                        <p class=" text-center disclim"><span style="color:#F00; font-weight:bold;">DISCLAIMER :</span>
                            <span style="line-height:20px!important;"> Since the availability of Eco Tourism Packages
                                are subject to change based on climate and other conditions, please make sure you
                                confirm its availability beforehand. We will not be held responsible for any
                                inconveniences caused owing to the unavailability of any specific package.</span> </p>
                    </div>




                </div>

                <br>
                <br>
            </div>

            <!------gpad------>
            <div class="clearfix"></div>
        </div>
        <!---// container-->

    </div>
    <!---// container fluid-->
    <div class="container-fluid marketing "
        style="padding:20px 0px; padding-bottom:20px; background-color:#24231e;  border-bottom:5px solid  #090">
        <div class="col-md-12">
            <p></p>

            <p class="lead text-center" style="color:#FFF; padding-top:10px;">All rights reserved © Theni Tourism 2020.
                Copyright | Terms of Use. Developed &amp; Maintained by Discover Yourself Multimedia.</p>

        </div>
    </div>

    <script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://www.keralatourism.org/js/eco-tourism/mdb.min.js"></script>

    <script src="https://www.keralatourism.org/js/eco-tourism/masonry.pkgd.min.js"></script>
    <script src="https://www.keralatourism.org/js/eco-tourism/imagesloaded.js"></script>
    <script src="https://www.keralatourism.org/js/eco-tourism/classie.js"></script>
    <script src="https://www.keralatourism.org/js/eco-tourism/AnimOnScroll.js"></script>





</body>

</html>